.hero {
  background: linear-gradient(#194d41, #194d41b2), url('./image 2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  padding: 0.5rem 4rem;
}

.form-container {
  display: flex;
  width: 100%;
  height: 80%;
  align-items: center;
}
.div1 {
  flex: 0 0 55%;
}
.div1 p:nth-child(1) {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  color: white;
}
.div1 p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  padding-right: 5rem;
}
.div2 {
  flex: 1;
  background: linear-gradient(#2a7d6c, #3e69609e);
  border-radius: 12px;
  padding: 3rem 2rem;
}
.div2 p:nth-child(1) {
  padding-bottom: 2rem;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin: 0;
}
.containedBtn {
  background-color: #5bc8af;
  color: white;
  padding: 0.75rem 4rem;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.containedBtn:active {
  background-color: #35bb9c;
}

.input-contain {
  position: relative;
}
input {
  height: 48px;
  border: 1px solid #ffffff80;
  border-radius: 2px;
  background-color: transparent;
  font-size: 16px;
}
input:focus {
  outline: none;
  border-color: white;
}
input:focus + .placeholder-text .text,
:not(input[value='']) + .placeholder-text .text {
  background-color: #2d7061;
  color: black;
  transform: translate(0, -130%);
}
input:focus + .placeholder-text .text {
  border-color: black;
  color: white;
}
.placeholder-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid transparent;
  background-color: transparent;
  pointer-events: none;
  display: flex;
  align-items: center;
}
.text {
  padding: 0 0.25rem;
  background-color: transparent;
  transform: translate(0);
  color: white;
  transition: transform 0.15s ease-out, font-size 0.15s ease-out,
    background-color 0.2s ease-out, color 0.15s ease-out;
}
input,
.placeholder-text {
  padding: 0 0.5rem;
  color: white;
}

.text-field-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

/* .input-contain:nth-child(5) {
  grid-column: span 2;
} */

@media (max-width: 768px) {
  .text-field-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .input-contain:nth-child(5) {
    grid-column: auto;
  }
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }
  .div1,
  .div2 {
    flex: 0 0 100%;
  }
}
.graywave {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 99999;
  width: 100%;
}
.whitewave {
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 99999;
  width: 100%;
}
.navbar {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.nav-item {
  display: flex;
  gap: 1.5rem;
}
.nav-item p:nth-child(1),
.nav-item p:nth-child(2),
.nav-item p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #ffffffb2;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-item p:nth-child(1):hover,
.nav-item p:nth-child(2):hover,
.nav-item p:nth-child(3):hover {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
.nav-item:last-child {
  font-weight: 700;
  color: white;
  font-size: 14px;
}
.mask {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 2rem;
}

.mask img {
  width: calc(33.33% - 1.33rem);
  object-fit: cover;
}
.outlined {
  color: white;
  -webkit-text-stroke: 1px black;
}
.description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.font14 {
  font-size: 14px;
  font-weight: 400;
}
.outlinedBtn {
  border-radius: 4px;
  border: 2px solid #5bc8af;
  color: #5bc8af;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  padding: 0.75rem 0;
  cursor: pointer;
}
.outlinedBtn:active {
  background-color: #35bb9c;
  color: white;
}

.carousel-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
}
.carousel-item {
  min-width: 100%;
  overflow: hidden;
  display: flex;
  height: 269px;
  gap: 2rem;
}
.carousel-item-description {
  background-color: #194d44;
  border-radius: 0 8px 8px 0;
  padding: 2rem 3rem;
}
.carousel-item img {
  width: 269px;
  height: 269px;
}
.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.carousel-controls button {
  color: #eaeaea;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s;
}
.prev {
  position: absolute;
  left: -3rem;
  z-index: 2;
}
.next {
  position: absolute;
  right: -3rem;
  z-index: 2;
}
.carousel-controls button:hover {
  color: #5bc8af !important;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin: 0;
}
.feedback {
  font-style: italic;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.box-container {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}
.box {
  border: 2px solid #5bc8af;
  justify-content: center;
  padding: 0 1.5rem;
  text-align: center;
  height: 96px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  position: relative;
}
.info-icon {
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s;
  margin-left: 5px;
  color: #5bc8af;
}
.box:hover {
  color: #5bc8af;
}
.box:hover .info-icon {
  opacity: 1;
}
.box-container {
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .box-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.box::after {
  content: 'We’re experienced in our individual crafts and understand how each one of our roles impacts your plan holistically.';
  position: absolute;
  bottom: -85px;
  width: 250px;
  /* height: auto; */
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  background-color: #297c6b;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  white-space: normal;
}

.box:hover::after {
  visibility: visible;
  opacity: 1;
}
.footer {
  background-color: #eaeaea;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
}
.footer p {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
